*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
.kotlin
local.properties
xcuserdata
fastlane/.env
androidApp/google-services.json
androidApp/service_account.json
iosApp/iosApp/GoogleService-Info.plist